.encouragement-section {
  margin: 0;
  padding-bottom: 0;

  .container {
    h1 {
      text-align: center;

      a {
        color: $primary;
      }
    }

    p,
    h4 {
      margin-bottom: 0.4rem;
    }
  }
}
