// Work
.work-section {
  .container {
    .work-gallery {
      .work-gallery-item {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10rem;

        img {
          margin-bottom: 1.5rem;
        }

        .description {
          div {
            margin-bottom: 1.5rem;

            h3 {
              margin-bottom: 0.5rem;
            }

            h5 {
              margin-bottom: 1rem;
            }
          }
        }
      }

      .work-gallery-item:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Responsive Media Queries
@media (min-width: 992px) {
  .work-section {
    .container {
      .work-gallery {
        .work-gallery-item {
          grid-template-columns: repeat(2, 1fr);
          gap: 5rem;

          img {
            margin: auto 0;

            &.grid-col-2 {
              grid-column: 2/3;
              grid-row: 1/2;
            }
          }

          .description {
            &.grid-col-1 {
              grid-column: 1/2;
              grid-row: 1/2;
            }
          }
        }
      }
    }
  }
}
